@import url('https://fonts.googleapis.com/css?family=Work Sans');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
}

/* Colors */
:root {
  --darkgreen: #266679;
  --lightgreen: #8ed1c0;
  --orange: #f6a25a;
}

.darkgreen {
  color: var(--darkgreen);
}

.lightgreen {
  color: var(--lightgreen);
}

.orange {
  color: var(--orange);
}

/* Navbar */
nav {
  padding: 1em;
  background-color: var(--lightgreen);
}

nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navitem {
  margin: 0 0.5em;
}

.navitem:nth-child(2) {
  margin-left: auto;
}

li > a {
  text-decoration: none;
}

.nav-searchbox {
  position: relative;
  margin-right: 2em;
}

.navinput {
  border: none;
  outline: none;
  padding: 0.75em 0 0.75em 2.5em;
  border-radius: 1em;
  width: 100%;
}

.nav-submit {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  border: none;
  left: 0;
  top: 0;
  padding: 0.9em 0 0 0.6em;
}

.nav-icon {
  cursor: pointer;
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms;
}

.nav-icon:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
}

.hello-box {
  cursor: default;
  padding: 0.75em 1em;
  background-color: var(--orange);
  color: white;
  border-radius: 12px;
}

/* Content */
main {
  margin: 8px 1em 8px 1em;
  padding: 8px 0.5em 8px 0.5em;
}

#product-content {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  flex-basis: 25%;
}

.product-card {
  margin: 1em;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.product-card > img {
  display: block;
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.card-text {
  padding: 12px 16px;
  background-color: var(--darkgreen);
  color: white;
}

.card-text > h3,
.card-text > :nth-child(2) {
  margin: 0.5em 0;
}

.card-text > :nth-child(2) {
  min-height: 2.5em;
}

.card-text > :last-child {
  font-size: 0.75em;
}
